<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <header>
      <img class="logo" src="https://i.imgur.com/TasFtEe.png" alt="Logo of mountains">
      <h3>MyTrip</h3>
    </header>
    <h2 class="title">New Trip Log</h2>
    <form class="" action="/trips" method="POST">
      National Park: <input type="text" name="nationalpark" value=""></br>
      State: <input type="text" name="state" value=""></br>
      Season: <input type="text" name="season" value=""></br>
      Favorite Memory: <input type="text" name="memory" value=""></br>
      Image URL <input type="text" name="img" value=""></br>
      <input type="submit" name="" value="Create Trip"></br>
    </form>
  </body>
</html>
