<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Trips show page</h1>
      I went to <%=trips.nationalpark; %> national park.</br>
      It is located in the state of <%=trips.state; %>.</br>
      I went during the <%=trips.season; %>.</br>
      My favorite memory was <%=trips.memory; %>.
  </body>
</html>
