/*  Main Fonts  headers - Josefin Sans  text - Roboto
Main colors: #F8971D(Carrot Orange), #113643 (Yankee Blue), #EDF2F5(Anti-Flash White)*/

body {
  /* background-color: #EDF2F5; */
  font-family: Roboto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #113643;
  padding: 1em;
}

header h3 {
  text-align: center;
  font-family: "Josefin Sans";
  color: #F8971D;
  margin-top: 10px;
  margin-right: 15px;
  letter-spacing: 1px;
}

.logo {
  width: 4.6875em;
  height: 2.5em;
  margin-left: 15px;
}

.title {
  text-align: center;
  font-family: "Josefin Sans";
  color: #F8971D;
  padding: 2.25em;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 2px #0C0C0C;
  padding: 3em;
}


.trip-card {
  border: solid 1px #113643;
  border-radius: 3px;
  /* background-color: orange; */
  margin: 10px;
  max-width: 300px;
}

.card-title {
  font-family: "Josefin Sans";
  color: #F8971D;
  text-align: center;
  background-color: #113643;
  padding: .75em;
}

/* Got this code from Jordan Morales! */
.pics {
  height: 20vw;
  width: auto;
}

/* NEW.EJS - NEW PAGE CSS */
/* This is the container around the form */
.new-form{
  border: 2px solid #113643;
  text-align: left;
  padding: 1em;
  margin: 0 30%;
}

/* STYLING FOR BUTTONS THROUGHOUT SITE */
[type=submit] {
  border: 2px solid #113643;
  font-family: "Josefin Sans";
  background: #fff;
  border-radius: 3px;
}

[type=submit]:hover {
  border: 2px solid #F8971D;
  font-family: "Josefin Sans";
  background: #113643;
  border-radius: 3px;
  color: #F8971D;
}
/* This is the entry form on new.ejs */
.form-group {
  margin: 0 auto;
  text-align: center;
}
