/*  Main Fonts  headers - Josefin Sans  text - Roboto
Main colors: #F8971D(Carrot Orange), #113643 (Yankee Blue), #EDF2F5(Anti-Flash White)*/

body {
  /* background-color: #EDF2F5; */
  font-family: Roboto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #113643;
  padding: 1em;
}

header h3 {
  text-align: center;
  font-family: "Josefin Sans";
  color: #F8971D;
  margin-top: 10px;
  margin-right: 15px;
  letter-spacing: 1px;
}

.logo {
  width: 4.6875em;
  height: 2.5em;
  margin-left: 15px;
}

.title {
  text-align: center;
  font-family: "Josefin Sans";
  color: #F8971D;
  padding: 2.25em;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: solid 2px #0C0C0C; */
  padding: 3em;
}

/* CARD STYLINGS ON INDEX PAGE */
.trip-card {
  border: solid 1px #113643;
  border-radius: 3px;
  /* background-color: orange; */
  margin: 10px;
  /* Source https://www.cssmatic.com/box-shadow */
  box-shadow:  2px 5px 5px 0px rgba(0,0,0,0.75);
  /* min-width: 18.75em; */
  max-width: 300px;
}

.index-image {
  background-image: url(https://i.imgur.com/ubhXxgv.jpg?1);
}
.card-middle {
  padding: .5em;
  font-family: "Josefin Sans";
  color: #113643;
  font-size: 1.15em;
}

.word-wrap {
  word-wrap: break-word;
}

.indexpage-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1.25em .5em 1.25em .5em;
  margin: 5px;
}

.card-title {
  font-family: "Josefin Sans";
  color: #F8971D;
  text-align: center;
  background-color: #113643;
  padding: .75em;
}

/* Got this code from Jordan Morales! */
.pics {
  /* height: 20vw;
  width: auto; */
  /* background-repeat: no-repeat;
  background-size: contain; */
  /* width:100%; */
}

img {
  width: 100%;
}
/* NEW.EJS - NEW PAGE CSS */
/* This is the container around the form */
.new-form{
  border: 2px solid #113643;
  text-align: left;
  border-radius: 3px;
  padding: 2.25em 1.5em;
  margin: 0 30%;
  /* Source https://www.cssmatic.com/box-shadow */
  box-shadow:  2px 5px 5px 0px rgba(0,0,0,0.75);
}

.create-button {
  text-align: center;
  padding: 35px 0 15px 0;
}

.index-button {
  text-align: center;
  padding: 2.1875em 0 2.1875em 0;
}

.show-button {
  text-align: center;
  padding: 2.1875em 0 2.1875em 0;;
}

/* STYLING FOR BUTTONS THROUGHOUT SITE */
[type=submit] {
  border: 2px solid #113643;
  font-family: "Josefin Sans";
  background: #fff;
  border-radius: 3px;
  font-size: 1.25em;
}

[type=submit]:hover {
  border: 2px solid #F8971D;
  font-family: "Josefin Sans";
  background: #113643;
  border-radius: 3px;
  color: #F8971D;
}
/* This is the entry form on new.ejs */
.form-group {
  margin: 0 auto;
  text-align: center;
}

/* Source: https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form */
.create-button input {
  width: 12em;
}

label {
  width: 7.5em;
  text-align: left;
}

/* SHOW PAGE STYLINGS */
.trip-journal {
  font-size: 1.15em;
  color: #F8971D;
  font-family: "Josefin Sans";
  border: solid 1px #113643;
  border-radius: 3px;
  margin: 3em 30%;
  padding: 1.875em;
}

.user-image {

  max-width: 28.125em;  /*450px*/
  margin: 0 auto;
  border: solid 1px #113643;
  border-radius: 3px;
}

/* THIS IS THE FOOTER STYLINGS */
.other-footer {
  /* margin-top: 2.25em; */
  position: absolute; /*This positions the element relative to the browser window*/
  bottom: 0px;   /*This causes there to be no space btween bottom of page and footer*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #113643;
  padding: 1em;
}

.index-footer {
  display: inline-block;
  width: 100%;
  background-color: #113643;
  padding: 1em;
}

/* Styling for github link in footer */
.footer-github {
  padding: 10px;
}

.footer-github a {
  color: #F8971D;
}

.footer-github p {
  margin-bottom: 0;
}

.logo-info {
  padding: 10px;
}

.logo-info a {
  color: #F8971D;
  font-family: "Josefin Sans";
}

.logo-info p {
  color: #F8971D;
  font-family: "Josefin Sans";
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: solid 2px #0C0C0C; */
    padding: 3em;
  }

  .logo-info {
    text-align: center;
  }

}
